.Dashboard {
    padding: 10px;
}

.Dashboard .card {
    cursor: pointer;
    margin-top: 30px;
}

.Dashboard .content-tec {
    text-align: center;

}
.Dashboard .content-tec h1{
    color: rgb(140, 140, 140);
}
.Dashboard .content-tec h3 {
    color: rgb(223, 120, 29);
    font-weight: 700;
}